<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
    
    <!--扫描到有@RestController、@Controller、@Compoment、@RestController、@Repository等注解的类，则把这些类注册为Bean-->
    <context:component-scan base-package="com.childcare"/>
    <!--配置注解映射支持-->
    <mvc:annotation-driven />
    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
    <bean id="daoDevice" class="com.childcare.model.DAO.DAODevice"/>
    <bean id="utility" class="com.childcare.model.support.PasswordUtility"/>
    <bean id="daoFamily" class="com.childcare.model.DAO.DAOFamily"/>
    <bean id="daoGroup" class="com.childcare.model.DAO.DAOAnchorGroup"/>
    <bean id="daoAnchor" class="com.childcare.model.DAO.DAOAnchor"/>
    <bean id="daoActionSet" class="com.childcare.model.DAO.DAOActionSet"/>
    <bean id="daoActionTaken" class="com.childcare.model.DAO.DAOActionTaken"/>
    <bean id="daoAccount" class="com.childcare.model.DAO.DAOAccount" />
    <bean id="daoRefreshToken" class="com.childcare.model.DAO.DAORefreshToken" />
    <bean id="daoChild" class="com.childcare.model.DAO.DAOChild" />
    <bean id="daoContact" class="com.childcare.model.DAO.DAOContact"/>
    <bean id="daoDeviceToken" class="com.childcare.model.DAO.DAODeviceToken"/>
    <bean id="daoSupervisor" class="com.childcare.model.DAO.DAOSupervisor"/>
    <!--Scheduler -->
    <task:annotation-driven />
    <task:scheduler id="myScheduler" pool-size="3"/>
    <!-- 事务管理  -->  
    <bean  id="transactionManager"  
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager"  
        p:dataSource-ref="dataSource" />  
    <tx:annotation-driven transaction-manager="transactionManager" />
     <!-- dataSource 数据库连接池-->  
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>  
        <property name="password" value="Nazgul784508"></property>  
        <property name="url" value="jdbc:mysql://globalsafetyvillagemysql.cfoblpmexzes.us-east-2.rds.amazonaws.com:3306/GSV_DB?zeroDateTimeBehavior=convertToNull"></property>  
        <property name="username" value="John"></property>  
    </bean>  
<!-- 配置jdbcTemplate -->  
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">  
        <property name="dataSource" ref="dataSource"></property>  
    </bean>  
<!--配置文件上传：multipartResolver -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
     <property name="maxUploadSize" value="268435456"/>
    </bean>



</beans>
